<div class="row bg-secondary">

  <div class="col-4 border-right border-bottom">

    <span>Número solicitud</span>

  </div>

  <div class="col-4 border-right border-bottom">
       
    <div class="row">

      <div class="col-12">CUIT 20-36896662-3</div>

    </div>

    <div class="row">

      <div class="col-12">Gregorio Michalopulos</div>

    </div>

  </div>

  <div class="col-4 border-bottom">

    <div class="row">

      <div class=" col-12">Cuenta préstamo</div>

    </div>

    <div class="row">

      <div class="col-12">Cuenta seguro</div>

    </div>

  </div>

</div>


